doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Kaizenergy Healing

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        a.menu-toggle.rounded(href='#')
            i.fas.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a(href='#page-top') Kaizenergy Healing
                li.sidebar-nav-item
                    a(href='#about') About
                li.sidebar-nav-item
                    a(href='#whyreiki') Why Reiki?
                li.sidebar-nav-item
                    a(href='#whatisreiki') What is Reiki?
                li.sidebar-nav-item
                    a(href='#whattoexpect') What to Expect
                li.sidebar-nav-item
                    a(href='#services') Booking
                li.sidebar-nav-item
                    a(href='#contact') Contact
                li.sidebar-nav-item
                    a(href='/collab') Reiki Collaboration

        // Header
        header.masthead.d-flex.align-items-center
            .container.px-4.px-lg-5.text-center
                h1.mb-1 Embrace Your Well-Being
                h3.mb-5
                    em Relax, Rejuvenate, Restore
                a.btn.btn-primary.btn-xl(href='#about') Find Out More

        // About
        section#about.content-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-4.mt-lg-5
                        h2 PASSIONATE ABOUT GUIDING OTHERS TOWARD HEALING AND WHOLENESS
                    .col-lg-6
                        p.lead.mb-3 Paul Constantin's personal journey with Reiki, combined with 
                            | extensive training, empowers him to offer transformative services 
                            | designed to nurture well-being. Paul channels universal life force 
                            | energy during Reiki treatments, promoting deep relaxation, stress 
                            | reduction, and supporting the body's natural healing abilities. He 
                            | also incorporates Breathwork techniques to enhance energetic 
                            | flow, release blockages, and deepen the healing process.
                    .col-lg-10
                        p.lead.mb-3 Paul's interest in energy work began in the mid-1990s, sparking a lifelong 
                            | fascination with the intricate 
                            | connection between mind, body, and spirit. For over 25 years, he thrived in the corporate world, 
                            | from 
                            | management to consulting. While his career flourished, his underlying passion for spirituality, 
                            | positivity, and 
                            | helping others remained a constant driving force. This passion has now blossomed into his true 
                            | calling: helping 
                            | others heal and rediscover their inherent wholeness.
                    .col-lg-10
                        p.lead.mb-3 Paul believes that everyone deserves a healthy, whole, and beautiful life, 
                            | uniquely defined for each individual. His 
                            | intention is to help clear any energetic or emotional blockages that may be hindering this 
                            | innate well-being. 
                            | Through energy healing, honoring ancient traditions of universal life force energy, Paul 
                            | facilitates a journey 
                            | toward a life filled with health, wholeness, and the unique beauty that resides within each 
                            | person.

        // Why Reiki
        section#whyreiki.content-section
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h2.mb-5 Why Reiki?
                .row.gx-0
                    .col-lg-6
                        a(href='#!').portfolio-item
                            .caption
                                .caption-content
                                    .h3 Stress Reduction and Relaxation
                                    p.mb-0 Reiki fosters a sense of calm, allowing your body and mind to 
                                        | unwind and release tension. It can create a peaceful space within, promoting a 
                                        | feeling of deep relaxation.
                            img(src='assets/img/relaxation1.jpg', alt='Relaxation').img-fluid
                    .col-lg-6
                        a(href='#!').portfolio-item
                            .caption
                                .caption-content
                                    .h3 Enhanced Energy Flow
                                    p.mb-0 Reiki aims to support the body's natural energy flow, helping to restore 
                                        | balance and vitality. This gentle energy work can leave you feeling refreshed and 
                                        | revitalized.
                            img(src='assets/img/energyflow.jpg', alt='Energy Flow').img-fluid
                    .col-lg-6
                        a(href='#!').portfolio-item
                            .caption
                                .caption-content
                                    .h3 Emotional Well-being
                                    p.mb-0 Reiki can facilitate emotional release and promote a sense of inner 
                                        | peace.
                                        | It offers a gentle way to soothe emotional discomfort and cultivate a more balanced 
                                        | emotional state.
                            img(src='assets/img/emotional.jpg', alt='Emotional Well-Being').img-fluid
                    .col-lg-6
                        a(href='#!').portfolio-item
                            .caption
                                .caption-content
                                    .h3 Support for Natural Self-Healing
                                    p.mb-0 Reiki is believed to activate and support the body's innate ability to 
                                        | heal 
                                        | itself. It encourages a sense of overall well-being by promoting harmony and balance 
                                        | within.
                            img(src='assets/img/selfhealing.jpg', alt='Support for Self Healing').img-fluid


        // What is Reiki
        section#whatisreiki.content-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-0
                    .card.mx-auto.my-2(style='width: 35rem;')
                        .card-body
                            h5.card-title What is Reiki?
                            p.lead.card-text Reiki is a Japanese energy healing technique that promotes relaxation and reduces stress.
                            p.lead.card-text The word Reiki is made up of two Japanese words:
                                br
                                | &nbsp;&nbsp;&nbsp;&nbsp;- Rei which means &quot;God's Wisdom or Higher Power&quot;.
                                br
                                | &nbsp;&nbsp;&nbsp;&nbsp;- Ki which is &quot;life force energy&quot;.
                            p.lead.card-text So Reiki can be defined as spiritually guided life force energy.
                            p.lead.card-text A Reiki session can help to clear any blockages in your energy field and promote healing on a physical, emotional, and spiritual level.
                    .card.mx-auto.my-2(style='width: 35rem;')
                        .card-body
                            h5.card-title What is Animal Reiki?
                            p.lead.card-text Animal Reiki is a gentle, non-invasive energy healing technique similar to Reiki for humans.
                            p.lead.card-text Practitioners channel universal life force energy to promote relaxation and well-being in animals. 
                                | It can help reduce anxiety, ease pain, and support healing from illness or injury.
                            p.lead.card-text Animal Reiki is not a substitute for veterinary care but can be a complementary therapy to improve 
                                | an animal's overall health and emotional balance.
                            p.lead.card-text Sessions involve light touch or hovering hands, creating a calming experience for the animal.


        // What to Expect
        section#whattoexpect.content-section
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h2.mb-5 What to Expect
                .row.gx-0
                    .row.gx-4.gx-lg-5.justify-content-center
                        p.lead In a Reiki session, you will remain fully clothed as the 
                            | practitioner will place their hands lightly on or just 
                            | above your body. The practitioner will then channel 
                            | Reiki energy to you, which you may experience as 
                            | warmth, tingling, or a deep sense of relaxation.
                        p.lead A Reiki session typically lasts about 60 minutes. During 
                            | this time, you may experience a variety of sensations, 
                            | including warmth, tingling, and deep relaxation. You 
                            | may also see colours or images.
                        p.lead After a Reiki session, you may feel more relaxed, 
                            | centered, and grounded. You may also experience a 
                            | reduction in pain or other symptoms.
                        p.lead Reiki is not a substitute for medical treatment, but it can 
                            | be a helpful complement to it. It is also a safe and gentle 
                            | way to promote overall health and well-being.


        // Services
        section#services.content-section.bg-primary.text-white.text-center
            .container.px-4.px-lg-5
                .content-section-heading
                    h2.mb-5 Booking
                .row.gx-0
                    .card.bg-primary.border-primary.mx-auto.my-2(style='width: 22rem;')
                        img(src='assets/img/in-person.jpg', alt='In Person').card-img-top
                        .card-body
                            h5.card-title In Person Reiki
                            p.card-text-text-faded-mb0 At Balance Massage Edmonton
                            p.card-text
                                strong 75 Minutes $99
                            a(href='https://balancemassageedmonton.janeapp.com/locations/balance-massage-10032-164-street-inside-thrive-acupunture/book#/staff_member/46',target='_blank').mt-3.btn.btn-light Book Online
                    .card.bg-primary.border-primary.mx-auto.my-2(style='width: 22rem;')
                        img(src='assets/img/animal-reiki.jpg', alt='In Person').card-img-top
                        .card-body
                            h5.card-title Animal Reiki
                            p.card-text-text-faded-mb0 At Your Home
                            p.card-text
                                strong 30 Minutes $55
                            a(href='https://docs.google.com/forms/d/e/1FAIpQLSfudQiDwksaodThC6BNgHA7wrq3f62uEd3u_v6v59IkhUR-BQ/viewform',target='_blank').mt-3.btn.btn-light Book Online
                    .card.bg-primary.border-primary.mx-auto.my-2(style='width: 22rem;')
                        img(src='assets/img/distant.jpg', alt='In Person').card-img-top
                        .card-body
                            h5.card-title Distant Reiki
                            p.card-text-text-faded-mb0 Anywhere in the world
                            p.card-text
                                strong 30 Minutes $55
                            a(href='https://docs.google.com/forms/d/e/1FAIpQLSfudQiDwksaodThC6BNgHA7wrq3f62uEd3u_v6v59IkhUR-BQ/viewform',target='_blank').mt-3.btn.btn-light Book Online


        // Map
        #contact.map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2370.9810230109106!2d-113.60837112290949!3d53.54025306019674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a0210060b943c9%3A0x72a23195addb8a6b!2sBalance%20Massage%20Edmonton!5e0!3m2!1sen!2sca!4v1743978206722!5m2!1sen!2sca')
            br
            small
                a(href='https://maps.app.goo.gl/98825XRhjjBUtP7t7')

        // Footer
        footer.footer.text-center
            .container.px-4.px-lg-5
                p.text-muted.small.mb-0 Copyright &copy; Kaizenergy Healing 2025

        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')